
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Index</h1>

<br />
<h2>Toplam: @ViewBag.v1</h2>
<br />
<h2>Okunmamış: @ViewBag.v3</h2>
<br />
<h2>Okunmuş: @ViewBag.v2</h2>
<br />
<h2>Okunmuş: @ViewBag.v4</h2>
