@model int

<a asp-controller="Message"
   asp-action="UnreadMessages"
   class="relative inline-flex items-center">

    🔔

    @if (Model > 0)
    {
        <span class="absolute -top-2 -right-2
                         bg-red-600 text-white text-xs
                         font-bold px-2 py-0.5 rounded-full">
            @Model
        </span>
    }
</a>
