
@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en-US">

 @await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>

	<!-- Preloader -->
	@await Component.InvokeAsync("_DefaultPreloaderComponentPartial")

    @await Component.InvokeAsync("_DefaultSideBarComponentPartial")
	<!-- main layout -->
	<main class="content">

		@await Component.InvokeAsync("_DefaultHomeComponentPartial")

        @await Component.InvokeAsync("_DefaultAboutComponentPartial")

		<!-- section services -->
		@await Component.InvokeAsync("_DefaultServiceComponentPartial")


		<!-- section experience -->
		@await Component.InvokeAsync("_DefaultExperienceComponentPartial")


		<!-- section works -->
		@await Component.InvokeAsync("_DefaultPortfolyoComponentPartial")



		<!-- section testimonials -->
		@await Component.InvokeAsync("_DefaultTestimonialComponentPartial")

		
		<!-- section contact -->
		@await Component.InvokeAsync("_DefaultContactComponentsPartial")

		<div class="spacer" data-height="96"></div>

	</main>

	<!-- Go to top button -->
	
	@await Component.InvokeAsync("_DefaultScriptsComponentsPartial")

</body>
</html>