@model List<ResumeProject.Entities.Portfolio>
@{
    ViewData["Title"] = "PortfolioList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>PortfolioList</h1>
<table>
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PortfolioId</td>
            <td>@item.PortfolioTitle</td>
            <td>@item.status</td>
            <td><a href="/Portfolio/DeletePortfolio/@item.PortfolioId">Sil</a></td>
            <td><a href="/Portfolio/UpdatePortfolio/@item.PortfolioId">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Portfolio/CreatePortfolio/">Yeni Proje Girişi</a>