@model ResumeProject.Entities.Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdatePortfolio</h1>

<form method="post">
    <input type="hidden" asp-for="PortfolioId" />
    <label>Başlık</label>
    <input type="text" asp-for="PortfolioTitle" style="color:black" />
    <br />
    <label>Görsel URL</label>
    <input type="text" asp-for="ImageUrl" style="color:black" />
    <br />
    <button>Projeyi Güncelle</button>
</form>