	<!-- mobile header -->
<header class="mobile-header-1">
	<div class="container">
		<!-- menu icon -->
		<div class="menu-icon d-inline-flex mr-4">
			<button>
				<span></span>
			</button>
		</div>
		<!-- logo image -->
		<div class="site-logo">
			<a href="index.html">
				<img src="/Templates/images/logo1.png" alt="yılmaz" />
			</a>
		</div>
	</div>
</header>

<!-- desktop header -->
<header class="desktop-header-1 d-flex align-items-start flex-column">

	<!-- logo image -->
	<div class="site-logo">
		<a href="index.html">
			<img src="/Templates/images/logo1.png" alt="yılmaz" />
		</a>
	</div>

	<!-- main menu -->
	<nav>
		<ul class="vertical-menu scrollspy">
			<li class="active"><a href="#home"><i class="icon-home"></i>AnaSayfa</a></li>
			<li><a href="#about"><i class="icon-user-following"></i>Hakkımda</a></li>
			<li><a href="#services"><i class="icon-briefcase"></i>Hizmetlerim</a></li>
			<li><a href="#experience"><i class="icon-graduation"></i>Deneyimlerim</a></li>
			<li><a href="#works"><i class="icon-layers"></i>Projelerim</a></li>
			<li><a href="#contact"><i class="icon-bubbles"></i>Bana ulaşın</a></li>
		</ul>
	</nav>

	<!-- site footer -->
	<div class="footer">
		<!-- copyright text -->
		<span class="copyright">© @DateTime.Now.Year Yılmaz İYİGÜN.</span>
	</div>

</header>
