@model List<ResumeProject.Entities.Testimonial>


<section id="testimonials">

	<div class="container">

		<!-- section title -->
		<h2 class="section-title wow fadeInUp">Müşteri Yorumları & Referanslarım</h2>

		<div class="spacer" data-height="60"></div>

		<!-- testimonials wrapper -->
		<div class="testimonials-wrapper">
			@foreach (var item in Model)
			{
				<!-- testimonial item -->
				<div class="testimonial-item text-center mx-auto">
					<div class="thumb mb-3 mx-auto">
					<img src="@item.ImageUrl" alt="customer-name" />
				</div>
				<h4 class="mt-3 mb-0">@item.NameSurname</h4>
				<span class="subtitle">@item.Title</span>
				<div class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4">
					<p class="mb-0">@item.Comment 👍</p>
				</div>
			</div>
			}
		

		</div>



	</div>

</section>